<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.care.mybatis.myMapper">
	<select id="user_check" resultType="memberVO">
		select * from memberinfo where id=#{id}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="goodsRegister" parameterType="goodsVO">
		insert into goodsinfo (goodsNum,goodsName,category,goodsPrice,goodsStock,goodsContents,goodsImage1,goodsThumbImage) 
			values (goodsinfo_seq.nextval,#{goodsName},#{category},#{goodsPrice},#{goodsStock},#{goodsContents},#{goodsImage1},#{goodsThumbImage})
	</insert>
	
	<!--  회원가입 -->
	<insert id="signup" parameterType="memberVO">
         insert into memberinfo(Id,Pwd,Name,Tel,Birth,Email,Address)
         values(#{Id},#{Pwd},#{Name},#{Tel},to_date(#{Birth},'YYYY-MM-DD'),#{Email},#{Address})
    </insert>
    
    <!--  상품목록 불러오기 -->
    <select id="goodsList" resultType="goodsVO">
    	select  * from goodsinfo order by goodsnum desc
    </select>
    
    <!-- 상품 조회 -->
	<select id="goodsView" resultType="goodsVO">
		 select * from goodsinfo where goodsNum = #{goodsNum}
	</select>
    
    <!-- 상품 수정 -->
	<update id="goodsModify">
		 update goodsinfo set
		         goodsName = #{goodsName},
		         category = #{category},
		         goodsPrice = #{goodsPrice},
		         goodsStock = #{goodsStock},
		         goodsContents = #{goodsContents},
		         goodsImage1 = #{goodsImage1},
		         goodsThumbImage = #{goodsThumbImage}
		         goodsSize = #{goodsSize}
		     where goodsNum = ${goodsNum}
	</update>
    
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		 delete	goodsinfo where goodsNum = #{goodsNum}
	</delete>    
    
    <!-- 카테고리 -->
    <select id="list" resultType="goodsVO">
    	select  * from goodsinfo where category = #{category}
    </select>
    
    <!-- 상품 댓글 작성 -->
    <insert id="registReply">
		 insert into tbl_reply (goodsNum, id, repNum, repContents)
    	 values (#{goodsNum}, #{id}, reply_seq.nextval, #{repContents})
	</insert>

	<!-- 카트 담기 -->
	<insert id="addCart" parameterType="cartVO">
		insert into cart (cartNum, id, goodsNum, cartStock,goodsSize)
	     values (cart_seq.nextval, #{id}, #{goodsNum}, #{cartStock},#{goodsSize})
	</insert>

	<!-- 카트 리스트 -->
	<select id="cartList" resultType="cartListVO">
		select
		row_number() over(order by c.cartNum desc) as num,
		c.cartNum, c.id, c.goodsNum, c.cartStock, c.addDate,
		g.goodsName, g.goodsPrice, g.goodsThumbImage, c.goodsSize
		from cart c
		inner join goodsinfo g
		on c.goodsNum = g.goodsNum
		where c.id = #{id}
	</select>
    
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
		 delete cart
		     where cartNum = #{cartNum}
		         and id = #{id}
	</delete>
	
	<!-- 카트 비우기 -->
	<delete id="deleteAllCart">
		delete cart where id=#{id}
	</delete>
	
	<!-- 주문 정보 -->
	<insert id="orderInfo" parameterType="orderVO">
		insert into orderinfo(orderId, id, orderRec, address , orderTel, amount,email,name,ordermessage,goodsName)
		values(#{orderId}, #{id}, #{orderRec}, #{address},	#{orderTel}, #{amount},#{email},#{name},#{orderMessage},#{goodsName})
	</insert>

	<!-- 주문 상세 정보 -->
	<insert id="orderInfo_Details" parameterType="orderdetailVO">
		insert into order_details(orderDetailsNum, orderId, goodsNum, cartStock)
		select order_details_seq.nextval, #{orderId}, goodsNum, cartStock
		from cart
	</insert>

	<!-- 특정 유저의 주문 목록 -->
	<select id="orderList" resultType="orderVO">
		select
		orderId, id, orderRec,address, orderTel, amount,orderDate,goodsName,delivery
		from orderinfo
		where id = #{id}
	</select>

	<!-- 특정 주문 목록 -->
	<select id="orderView" resultType="orderListVO">
		select
		o.orderId, o.id, o.orderRec, o.address,
		o.orderTel, o.amount, o.orderDate,o.delivery,
		d.orderDetailsNum, d.goodsNum, d.cartStock,
		g.goodsName, g.goodsThumbImage, g.goodsPrice
		from orderinfo o
		inner join order_details d
		on o.orderId = d.orderId
		inner join goodsinfo g
		on d.goodsNum = g.goodsNum
		where o.id = #{id}
		and o.orderId = #{orderId}
	</select>
</mapper>




